<div class="stat-container"></div>
<div class="heading">Stats</div>


<p></p>
<div class="happysadbuttons">
  <button class="happybutton" (click)="happyDaysDidThis()">
    Happy Day Activities
  </button>
  <button class="sadbutton" (click)="sadDaysDidThis()">
    Sad Day Activities
  </button>
</div>
<hr />

<div class="list">
  <div class="happyDays" *ngFor="let each of HappyActivitiesNamesandCategories">
    <div>Category: {{ each.aCategory }} - Activity: {{ each.aName }}</div>
  </div>

  <div class="sadDays" *ngFor="let each of SadActivitiesNamesandCategories">
    <div>Category: {{ each.aCategory }} - Activity: {{ each.aName }}</div>
  </div>

  
  
</div>
