.heading {
  display: flex;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 10px;
  font-size: 35px;
}

.goToEntry {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin: 10px;
}

button {
  color: white;
  font-size: 25px;
  font-family: "Ovo", serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  color: rgb(200, 215, 230);
}

.fa-plus {
  color: white;
  border-radius: 100px;
  padding: 15px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);
  background: linear-gradient(to right, #89253e, #3a6186);
}

.fa-trash-alt {
  font-size: 25px;
}

.entryList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding-bottom: 10px;
  font-size: 18px;
}

i {
  font-size: 25px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .fa-plus {
    font-size: large;
  }

  .entryList {
    font-size: 25px;
  }

  .fa-edit,
  .fa-trash-alt {
    font-size: 25px;
  }
}

/* computer */
@media only screen and (min-width: 992px) {
  .fa-plus {
    font-size: larger;
  }

  .entryList {
    font-size: 30px;
  }

  .fa-edit,
  .fa-trash-alt {
    font-size: 30px;
  }
}
