<header>
  <h1 class="appName">HappyCranky</h1>
  <div class="nav-bar">
    <div class="links">
      <div class="linkies">
        <div class="dash">
          <a routerLink="/dashboard">Home</a>
        </div>
        <div class="past">
          <a routerLink="/pastentries">Past Entries</a>
        </div>
        <div class="stats">
          <a routerLink="/stats">Stats</a>
        </div>
        <div class="signout">
          <button (click)="auth.signOut()">Sign Out</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="link-icons">
    <div class="dash">
      <a routerLink="/dashboard"><i class="fas fa-home"></i></a>
    </div>
    <div class="past">
      <a routerLink="/pastentries"><i class="fas fa-pen-square"></i></a>
    </div>
    <div class="stats">
      <a routerLink="/stats"><i class="fas fa-chart-line"></i></a>
    </div>
    <div class="signout-icon">
      <button (click)="auth.signOut()">
        <i class="fas fa-door-open"></i>
      </button>
    </div>
  </div> -->
</header>