<div class="links-container">
  <div class="dash">
    <a routerLink="/dashboard"><i class="fas fa-home"></i></a>
  </div>
  <!-- <div class="entries">
    <a routerLink="/entrypage">Entries</a>
  </div> -->
  <div class="past">
    <a routerLink="/pastentries"><i class="fas fa-pen-square"></i></a>
  </div>
  <div class="stats">
    <a routerLink="/stats"><i class="fas fa-chart-line"></i></a>
  </div>
  <div class="signout">
    <button (click)="auth.signOut()"><i class="fas fa-door-open"></i></button>
  </div>
</div>
