<p>entrydisplay works!</p>
<!-- <button class="button" (click)="auth.signOut()">Sign Out</button> -->

<div class="heading">On {{ entrydate }}, at {{ entrytime }}</div>
<p></p>
<div class="face">
  <div *ngIf="mood === 5">
    <i style="color: #d8214b" class="far fa-laugh-beam fa-10x"></i>
  </div>

  <div *ngIf="mood === 4">
    <i style="color: #f39481" class="far fa-smile fa-10x"></i>
  </div>
  <div *ngIf="mood === 3">
    <i style="color: #86b8d3" class="far fa-meh fa-10x"></i>
  </div>
  <div *ngIf="mood === 2">
    <i style="color: #33a0b9" class="far fa-frown fa-10x"></i>
  </div>
  <div *ngIf="mood === 1">
    <i style="color: #336bb9" class="far fa-sad-tear fa-10x"></i>
  </div>
</div>

<form>
  <div class="activityQuestion">You did these activities</div>

  <fieldset class="activity">
    <div *ngFor="let activity of activityArray; let i = index">
      <label for="{{ activity.id }}">
        <input
          [checked]="activityList.includes(activity.id)"
          (change)="toggleActivityList(activity.id, $event)"
          id="{{ activity.id }}"
          name="{{ activity.id }}"
          type="checkbox"
          value="{{ activity.id }}"
        />
        {{ activity.name }}
      </label>
    </div>
  </fieldset>

  <div class="writeAboutIt">Your Journal Entry</div>

  <textarea id="journal" name="journal" [(ngModel)]="journalentry"> </textarea>
  <!-- <button *ngIf="entryToEdit.id" (click)="updateEntry()">Update Entry</button> -->
  <!-- <button *ngIf="entryToEdit.id === undefined" (click)="addNewEntry()">
    Submit Entry
  </button> -->
</form>
