<body>
  <main>
    <h1>Happy App</h1>
    <!-- if user -->
    <div *ngIf="auth.user$ | async as user; else login">
      <!-- routeroutlet -->
      <router-outlet></router-outlet>
      <div class="greeting">
        <div>Hi {{ user.displayName }}!</div>
      </div>
      <div class="feeling">
        <div>How are you feeling today?</div>
      </div>

      <!-- next five lines may be cut out later -->
      <pre>
        {{ user | json }}
      </pre>
      <hr />
      <button class="button" (click)="auth.signOut()">Sign Out</button>
    </div>
    <!-- if no user -->
    <ng-template #login>
      <button class="button" (click)="auth.googleSignin()">
        Login with Google
      </button>
    </ng-template>
  </main>
</body>
