.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;  
}
form {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  margin: 0px 25px;
  max-width: 700px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.moods {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  border: none;
}

.moods-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

#moods label {
  font-size: 50px;
  padding: 5px;
}

#moods label:hover {
  cursor: pointer;
}

input[type="radio"] + label {
  opacity: 0.5!important;
}

input[type="radio"]:checked + label {
  opacity: 1!important;
}
input[type="radio"]:hover + label {
  opacity: 1!important;
}

#activity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

#activity div {
  display: flex;
  justify-content: flex-start;
  flex-basis: 32%;
  padding: 3px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
}

.social {
  color: #336bb9;
}
.hobbies {
  color: #33a0b9;
}
.phyfeelings {
  color: #86b8d3;
}
.habits {
  color: #f39481;
}
.fitness {
  color: #d8214b;
}
.emotions {
  color: #fff;
}


.key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key li {
  margin: 20px;
}

#journal {
  width: 100%;
  background-color: #a4afc7;
}

button {
  margin-top: 30px;
  padding: 20px;
  border: none;
  font-size: 20px;
  color: white;
  background: linear-gradient(
    to right,
     #89253e,
     #3a6186);
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* tablet */
@media only screen and (min-width: 768px) {


}

/* desktop */
@media only screen and (min-width: 992px) {


}