.heading {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 5px;
  font-size: 30px;
}

form {
  /* padding-top: 5px; */
  padding-bottom: 90px;
}

input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.moods {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  border: none;
}

.moods-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

#moods label {
  font-size: 50px;
  padding: 5px;
}

#moods label:hover {
  cursor: pointer;
}

input[type="radio"] + label {
  opacity: 0.5!important;
}

input[type="radio"]:checked + label {
  opacity: 1!important;
}
input[type="radio"]:hover + label {
  opacity: 1!important;
}
input[type="radio"].with-font:focus ~ label:before,
input[type="radio"].with-font:focus ~ label {
  color: green;
}

.activityQuestion {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 23px;
  font-size: 30px;
}

.writeAboutIt {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
}
#activity {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

#journal {
  /* padding-top: 30px;
  padding-bottom: 30px; */
  height: 120px;
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  /* position: relative; */
  /* justify-content: center; */
  text-align: flex-start;
  background-color: #a4afc7;
}

button {
  cursor: pointer;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  border-radius: 12px;
  font-size: 20px;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 150px;
  color: white;
  background: linear-gradient(
    to right,
     #89253e,
     #3a6186);
}

button:hover {
  color: #a4afc7;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .fa-plus {
    font-size: large;
  }

  .entryList {
    font-size: 25px;
  }

  .fa-edit,
  .fa-trash-alt {
    font-size: 25px;
  }
}

/* computer */
@media only screen and (min-width: 992px) {
  .fa-plus {
    font-size: larger;
  }

  .entryList {
    font-size: 30px;
  }

  .fa-edit,
  .fa-trash-alt {
    font-size: 30px;
  }
}




