/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ovo", serif;
  margin: 0px 0px 100px 0px;
  padding: 0px;
  width: 100%;
  /* background-color: rgb(241, 241, 253); */
  background-color: rgb(61, 61, 73);
  color: white;
  height: 100vh;
}
