/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
  background-color: rgb(61, 61, 73);
}

body {
  font-family: "Ovo", serif;
  margin: 100px 0px 100px 0px;
  padding: 0px;
  width: 100%;
  color: white;
  min-height: 100vh;
  clear: both;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* background-color: rgb(241, 241, 253); */
}