/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Ovo", serif;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: rgb(241, 241, 253); */
  background-color: rgb(61, 61, 73);
  height: 100vh;
}
